In [1]:
print("Hello World")

Hello World

In [2]:
a = 1
b = 2
print(a)

1

In [3]:
a+b

3

In [7]:
a = "John "
b = "Jahaziel"
print(a+b)

John Jahaziel

In [8]:
print(type(a))

<class 'str'>

In [14]:
#if the given number is above 30 print accepted or else print not accepted

a = int(input("Enter a number"))
if (a >= 30):
    print("Accepted")
else:
    print ("Not Accepted")

Enter a number 40

Accepted

In [33]:
#above 90 grade a, below 90 above 60 grade b ,60 35 c ,35 fail

a = int(input("Enter Your Mark"))
if(a >= 90):
    print("Grade A")
elif(a < 90 and a >= 60):
    print("Grade B")
elif(a < 60 and a >= 35):
    print("Grade C")
else:
    print("Fail")

Enter Your Mark 36

Grade C

In [34]:
#reverse the given string in python

a = "John Jahaziel" [::-1]
print(a)

leizahaJ nhoJ

In [40]:
a = input("Enter any word to check Palindrome")
if(a == a[::-1]):
    print("It is palindrome")
else:
    print("It is not palindrome")

Enter any word to check Palindrome Radar

It is not palindrome

In [41]:
#print all prime numbers between 1 and 50
#find the sum of even number between 1 and 100
#count the number of vowels in a given string
#remove all spaces from the string
#count how many times each character appears in the string
#write a condition to check if the entered number is odd or even
#get the square root value for given number
#remove all even numbers from the List

In [55]:
#print all prime numbers between 1 and 50

for i in range(2,50):
    for num in range(2, i):
        if i % num == 0:
            break
    else:
        print(i, end = " ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [50]:
#find the sum of even number between 1 and 100

a = sum(range(0,101,2))
print(a)

2550

In [51]:
#count the number of vowels in a given string

a = input("Enter any string")
print(sum(1 for char in a.lower() if char in 'aeiou'))

Enter any string John Jahaziel

5

In [68]:
#remove all spaces from the string

a = "     John      Jahaziel    "
a = " ".join(a.split())
print(a)

John Jahaziel

In [75]:
#count how many times each character appears in the string

a = input("Enter any String")
count = {}
for char in a:
    count[char] = count.get(char, 0) + 1
print(count)

Enter any String John Jahaziel

{'J': 2, 'o': 1, 'h': 2, 'n': 1, ' ': 1, 'a': 2, 'z': 1, 'i': 1, 'e': 1, 'l': 1}

In [95]:
from collections import Counter

a = input("Enter any String")
count = Counter(a)
print(count)

Enter any String John Jahaziel

Counter({'J': 2, 'h': 2, 'a': 2, 'o': 1, 'n': 1, ' ': 1, 'z': 1, 'i': 1, 'e': 1, 'l': 1})

In [77]:
#count how many times each word appears in the string

a = input("Enter Para")
words = a.split()
count = {}
for b in words:
    count[b] = count.get(b,0) + 1
print(count)

Enter Para John john john john jahaziel jahaziel jahaziel

{'John': 1, 'john': 3, 'jahaziel': 3}

In [79]:
#write a condition to check if the entered number is odd or even

a = int(input("Enter the number"))
print("Even" if (a % 2 == 0) else "Odd")

Enter the number 6

Even

In [81]:
#get the square root value for given number
import math

a = int(input("Enter any number"))
print (a ** 0.5)
print (math.sqrt(a))

Enter any number 25

5.0
5.0

In [92]:
#remove all even numbers from the List

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a = [n for n in a if n % 2 != 0]
print(a)

[1, 3, 5, 7, 9]

In [6]:
#remove a specific element from a list

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a.remove(2)
print(a)

[1, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
#replace a specific element from a list

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = a.index(2)
a[b] = 22
print(a)

[1, 22, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
a = ['John',8,8.0,True]
print(a[0:2])

['John', 8]

In [24]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [90]:
def outer():
    x2 = "Hello"
    def inner():
        nonlocal x2
        x2 = "HI"
    inner()
    print(x2)

outer()
print(x2)

HI

NameError: name 'x2' is not defined

In [52]:
x = 10

def global_():
    print(x)

global_()
print(x)

10
10

In [86]:
def local_():
    x1 = 20
    print(x1)

local_()
print(x1)

20

NameError: name 'x1' is not defined

In [105]:
#class

class Car():
    def __init__(self,brand,color):
        self.brand = brand
        self.color = color
    def details(self):
        print("Brand: ",self.brand,"Color: ",self.color)

c1 = Car("BMW","Blue")
c2 = Car("BMWeee","Bluee")
c3 = Car("BMWee2e2de","Blueee32q")

c4 = [c1,c2,c3]
for carlist in c4:
    carlist.details()

Brand:  BMW Color:  Blue
Brand:  BMWeee Color:  Bluee
Brand:  BMWee2e2de Color:  Blueee32q

In [97]:
#Class

class animals():
    def __init__(a,animal1name,feature1,animal2name,feature2):
        a.animal1name = animal1name
        a.feature1 = feature1
        a.animal2name = animal2name
        a.feature2 = feature2
    def details(a):
        print("Animal :",a.animal1name,"Feature :",a.feature1,"Animal :",a.animal2name,"Feature :",a.feature2)

dog = animals("Dog","Barkingy","JOhn","Jaha")
# cat = animals("Cat","Meow")
# duck = animals("Duck", "Kuwak")
# lion = animals("Lion", "Roar")

dog.details()

Animal : Dog Feature : Barkingy Animal : JOhn Feature : Jaha

In [92]:
#Inheritance

class Bikes():
    def __init__(a,name):
        a.name = name
        # a.color = color
    def data(a):
        print(a.name,"Color : Blue")

class BMW(Bikes):
    def data(a):
        print(a.name,"Red")

class Honda(Bikes):
    def data(a):
        print(a.name,"Black")

class Hero(Bikes):
    def data(a):
        print(a.name,"Yellow")

bikes = Bikes("Bikes Name")
bikes.data()

bmw = BMW("BMWW")
bmw.data()

honda = Honda("Hondaa")
honda.data()

hero = Hero("Hero Honda")
hero.data()

Bikes Name Color : Blue
BMWW Red
Hondaa Black
Hero Honda Yellow

In [114]:
#Encapsulation

class Employee():
    def __init__(a,name,role):
        a.name = name
        a.role = role
        a.id = "EMP#321"

    def showdetails(a):
        print("Employee Name:",a.name)
        print("Employee Role:",a.role)
        print("Employee ID:",a.id)

    def setnewid(a,id):
        a.id = id

    def getnewid(a):
        print(a.id)

E1 = Employee("John","Developer")
E2 = Employee("Abdul","Developer")

E2.showdetails()
print("\n")

E2.setnewid("EMPP#!123")
E2.showdetails()

Employee Name: Abdul
Employee Role: Developer
Employee ID: EMP#321


Employee Name: Abdul
Employee Role: Developer
Employee ID: EMPP#!123

In [129]:
#polymorphism

class RCB:
    def teamcaptain(a):
        return ("Virat")

class CSK:
    def teamcaptain(a):
        return ("Dhoni")

class MI:
    def teamcaptain(a):
        return ("Rohit")

def iplTeamCaptain(captain):
    print(captain.teamcaptain())

a = RCB()
b = CSK()
c = MI()

iplTeamCaptain(a)
iplTeamCaptain(b)
iplTeamCaptain(c)

Virat
Dhoni
Rohit

In [134]:
#Encapsulation

class teams():
    def __init__(a,name,color):
        a.name = name
        a.color = color
        a.tournament = "IPL"
        
    def showdetails(a):
        print("Team Name:",a.name)
        print("Team Color:",a.color)
        print("Tournament:",a.tournament)

    def setNewTournament(a,tournament):
        a.tournament =tournament

    def getNewTournament(a):
        print(a.tournament)
    
a = teams("RCB","Red")
b = teams("CSK","Yellow")
c = teams("MI","Blue")

a.showdetails()
print("\n")
b.showdetails()
print("\n")
c.showdetails()
print("\n")

b.setNewTournament("Indian Premier League")
b.showdetails()

Team Name: RCB
Team Color: Red
Tournament: IPL


Team Name: CSK
Team Color: Yellow
Tournament: IPL


Team Name: MI
Team Color: Blue
Tournament: IPL


Team Name: CSK
Team Color: Yellow
Tournament: Indian Premier League

In [137]:
#Polymorphism

class Virat():
    def specialist(a):
        return "Batter"

class Dhoni():
    def specialist(a):
        return "Retired"

class Rohit():
    def specialist(a):
        return "Vadapav"

def player(playingstatus):
    print(playingstatus.specialist())

virat = Virat()
dhoni = Dhoni()
rohit = Rohit()

player(dhoni)

Retired

In [143]:
#inheritence

class gender():
    def __init__(a,name):
        a.name = name

class Male(gender):
    def show(a):
        print(a.name,"Male")

class Female(gender):
    def show(a):
        print(a.name,"FeMale")

a = Male("Abdul")
b = Male("John")
c = Female("Bla")
d = Female("BLa bla")

a.show()
b.show()
c.show()
d.show()

Abdul Male
John Male
Bla FeMale
BLa bla FeMale